/* .country {
    color: #d7ca54;
}

.deaths {
    color: #ff693a;
}

.recoverd {
    color: #6fc96f;
}

.confirmed {
    color: #FF9800;
}

.covid-update {
    float: left;
    width: 93%;
    background: #009688;
    margin: 1%;
    border-radius: 9px;
    padding: 2%;
    color: white;
    font-family: sans-serif;
    box-shadow: 0px 3px 17px black;
}

table {
    width: 100%;
    color: #e2e2e2;
    text-shadow: 0px 0px 1px black;
    border-collapse: collapse;
    letter-spacing: 1;
}

th,
td {
    text-align: left;
    padding: 14px;
}

.country-select {
    margin-bottom: 1%;
}

.country-select label {
    color: #c5b633;
}

tr:nth-child(even) {
    background-color: #03897d;
} */

select#CountryDD {
    color: black;
}