.loader-boot {
    background: #00000024;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
}

.loader-boot .loader-bg {
    position: absolute;
    right: 48%;
    top: 50%;
    z-index: 9999;
}

select#CountryDD {
    color: black;
}

.page-blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}